*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	text-decoration:none;
}

h1{
	font-size:3.5rem!important;
	line-height:70px!important;
}

.kannan:after{
	content:"";
	height:4px;
	width:43px;
	border:none;
	border-top:4px dashed black;
	left:50px;
	top:20px!important;
	position:absolute;
	display:inline-block;
}

.kannan-1::after{
	content:"";
	height:205px;
	width:4px;
	border:none;
	border-right:4px dashed black;
	left:23px;
	top:-210px!important;
	position:absolute;
	display:inline-block;
}

.kannan-2::after{
	content:"";
	height:4px;
	width:220px;
	border:none;
	border-top:4px dashed black;
	left:-225px;
	top:20px!important;
	position:absolute;
	display:inline-block;
}

.kannan-3::after{
	content:"";
	height:4px;
	width:35px;
	border:none;
	border-top:4px dashed black;
	left:31px;
	top:-143px!important;
	position:absolute;
	display:inline-block;
}

.kannan-4::after{
	content:"";
	height:4px;
	width:30px;
	border:none;
	border-top:4px dashed black;
	left:-142px;
	top:28px!important;
	position:absolute;
	/* display:inline-block; */
}

.image-1::after{
	content:"";
	height:132px;
	width:4px;
	border:none;
	border-right:4px dashed black;
	left:212px;
	top:258px!important;
	position:absolute;
}

.image-2::after{
	content:"";
	height:94px;
	width:4px;
	border:none;
	border-right:4px dashed black;
	left:275px;
	top:280px!important;
	position:absolute;
}

.facebook{
	height:3rem;
	width:3rem;
	line-height:1rem!important;
	display:flex!important;
	align-items:center;
	justify-content:center;
}




